.container {
    margin: 3rem auto;
    max-width: 600px;
}
h1{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
p , a {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    line-height: 1.5rem;
    text-decoration: none;
}
p {
    color: black;
    opacity: 0.8;
}
h3 > a {
    color: black;
    opacity: 0.9;
    text-decoration: none;
}

h3 > a:hover {
    text-decoration: underline;
}
hr {
    width: 100px;
}
nav > ul > li {
    display: inline;
    margin: 0px 15px 0px 0px;
}

ul {
    padding: 0px;
}

a {
    color: #0a7d8f;
}

hr {
    border-color: #0a7d8f;
    border-style: solid;
}

.fab {
    font-size: 24px;
    color: #0a7d8f;
}

.social-icons {
    height: 1.5rem;
    width: 1.5rem;
}